/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

:root {
  --text-color: #e9e9e9;
  --color-primary: #dc6986;
  --color-red: #dc6969;
  --color-green: #87dc69;
  --background-color: #2a2a2a;
  --background-color-light: #3b3b3b;
  --bacgkround-color-inactive: #5f5f5f;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  color: #222;
  width: 260px;
  height: 360px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px;
}

.title {
  font-size: 1.1rem;
  font-weight: 500;
}

.subtitle {
  font-size: 0.8rem;
  color: var(--color-primary);
}

.header,
.section-title,
.actions,
.stats {
  margin-bottom: 5px;
}

.section-title {
  font-size: 1rem;
  font-weight: 500;
}

.stats,
.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: var(--background-color-light);
  padding: 5px;
  border-radius: 5px;
}

.actions {
  flex-direction: row;
}

.entry .value {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.green {
  background-color: var(--color-green);
}

.red {
  background-color: var(--color-red);
}

.checkbox {
  display: none; /* Hide the checkbox */
}

.label {
  display: flex;
  align-items: center;
  user-select: none;
  height: 100%;
  padding: 10px 20px;
  background-color: var(--bacgkround-color-inactive); /* Inactive color */
  color: var(--text-color);
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkbox:checked + .label {
  background-color: var(--color-primary); /* Active color */
}

.button {
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--bacgkround-color-inactive); /* Inactive color */
  color: var(--text-color);
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}

.switch,
.buttons {
  width: 100%;
}

.switch {
  margin-right: 5px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.buttons .button:not(:last-child) {
  margin-bottom: 5px;
}

.button {
  width: 100%;
}

.difficulty {
  font-size: medium;
}
