/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  color: #222;
}

body {
  width: 250px;
  height: 240px;
  background-color: #2a2a2a;
  color: #e9e9e9;
  border-radius: 10px;
  overflow: hidden;
}

.app__header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e9e9e9;
}

.app__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.instructions__link {
  color: #959dfb;
  text-decoration: none;
}

.app__title {
  font-size: 18px;
  font-weight: 600;
}

section {
  margin-bottom: 10px;
}

.instructions__title,
.stats__title {
  font-size: 14px;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

code {
  font-size: 12px;
  font-family: inherit;
  background-color: rgba(254, 237, 185, 0.3);
  padding: 2px 4px;
  border-radius: 2px;
}

.actions__button {
  border: 0;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 4px;
  margin-left: 4px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  transition: transform 0.2s ease;
  user-select: none;
}

.actions__button:focus {
  outline: none;
}
